# タプル

In [15]:
# タプルは(3, 4)のように()で囲まれたデータ型で、要素ごとにカンマ（,）で区切ります。
# 複数の値をタプルに追加することをタプルパッキングと言います。
t = 3, 4
t

(3, 4)

In [3]:
t1 = 2, 3, 'a'
t1

(2, 3, 'a')

In [5]:
t2 =(2, 3, 'a')
t2

(2, 3, 'a')

In [7]:
# タプルの要素を複数の変数に渡すことをシーケンスアンパッキングと言います。
x, y, z = t2
print(x)
print(y)
print(z)

2
3
a

In [2]:
# 要素が一つのタプルを作るときは、最後にカンマを付けます。
test = 'one',
print(test)

('one',)

In [8]:
t3 =(3, 4)
t3[0]

3

In [11]:
t4 = (0, 1, (2, 3) , 4, 5 ), (6, 7)
t4[0][2]

(2, 3)

In [1]:
tuple_sample1 = (1, 2, 3, 4, 5)
tuple_sample2 = tuple_sample1 + (6, 7)
print(tuple_sample2)

(1, 2, 3, 4, 5, 6, 7)

In [12]:
tuple_sample1 = (1, 2, 3, 4, 5)
tuple_sample2 = tuple_sample1*2
print(tuple_sample2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [2]:
tuple_sample1 = (1, 2, 3, 4, 5)
tuple_sample2 = tuple_sample1[2:4]
print(tuple_sample2)

(3, 4)

In [3]:
tuple_sample = (1, 2, 3, 4, 5)
tuple_sample[2] = 10

TypeError: 'tuple' object does not support item assignment

In [13]:
ts = (1, 5, 4, 9, 6)
ts.sort()
ts

AttributeError: 'tuple' object has no attribute 'sort'

In [15]:
ts = (1, 5, 4, 9, 6)
sorted(ts)

[1, 4, 5, 6, 9]

In [10]:
def add_diff(a, b):
    return a + b, a - b
result = add_diff(3, 5)
print(result)

(8, -2)

In [12]:
def add_diff(a, b):
    return a + b, a - b
ad, df = add_diff(3, 5)
print(ad)
print(df)

8
-2

In [2]:
print((1, 2, 3) < (1, 2, 4))
print([1, 2, 3] < [1, 2, 4])

True
True

In [3]:
print((1, 2) < (1, 2, -1))
print((1, 2, 3, 4) < (1, 2, 4))

True
True

In [4]:
print((1, 2, (3, 4)) < (1, 2, (2, 4), 4))

False

# 集合

In [16]:
# 集合（セット）とは、重複しない要素の集まりで、かつ順序の概念を持ちません。
# 集合は{要素1, 要素2, 要素3}のように{}で囲まれたデータ型で、要素ごとにカンマ（,）で区切ります。
basket = {
    "orange", "orange", "apple", "apple", "banana", "orange", "apple", "apple",
    "banana", "orange", "apple", "apple", "muscat", "banana", "orange", "apple",
    "apple", "banana"}
basket

{'apple', 'banana', 'muscat', 'orange'}

In [36]:
s={123, 1.23, 123, 1.23, (1,2,3)}
s

{(1, 2, 3), 1.23, 123}

In [32]:
s={123, 1.23, 123, 1.23, [1,2,3]}
s

TypeError: unhashable type: 'list'

In [41]:
# set()関数を使用することで、要素を集合に変換できます。
basket = [
    "orange", "orange", "apple", "apple", "banana", "orange", "apple", "apple",
    "banana", "orange", "apple", "apple", "muscat", "banana", "orange", "apple",
    "apple", "banana"]
basket1 = set(basket)
basket1

{'apple', 'banana', 'muscat', 'orange'}

In [42]:
string = "DIVIC"
string1 = set(string)
string1

{'C', 'D', 'I', 'V'}

In [37]:
s = {0, 1, 2}
s.add(3)
s

{0, 1, 2, 3}

In [38]:
s = {0, 1, 2}
s.remove(1)
s

{0, 2}

In [43]:
# frozenset()関数を使用することで、要素の追加・削除ができない集合に変換できます。
a = [0, 2, 2, 1, 2, 3]
a1 = frozenset(a)
a1

frozenset({0, 1, 2, 3})

In [44]:
a1.add(3)
a1

AttributeError: 'frozenset' object has no attribute 'add'

In [47]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
# 和集合
print(set_a | set_b)
print(set_a.union(set_b))
# 積集合
print(set_a & set_b)
print(set_a.intersection(set_b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}

In [50]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
# 差集合
print(set_a - set_b)
print(set_b - set_a)
print(set_b.difference(set_a))
# 対称差集合
print(set_a ^ set_b)
print(set_a.symmetric_difference(set_b))

{1, 2}
{5, 6}
{5, 6}
{1, 2, 5, 6}
{1, 2, 5, 6}

In [58]:
s1 = {1, 2, 3}
s2 = {3, 2, 1}
s3 = {5, 3, 4, 2, 1}
# 部分集合の判定
print(s1 <= s2)
print(s1 <= s3)
print(s1.issubset(s3))
# 真部分集合の判定
print(s1 < s2)
print(s1 < s3)

True
True
True
False
True

In [59]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {6, 5, 7}
# 互いに素の判定
print(s1.isdisjoint(s2))
print(s1.isdisjoint(s3))

False
True

In [63]:
# 要素の取得
s = {4, 2, 5, 3, 1}
l = list(s)
l[2]

3

# 辞書

In [14]:
# 辞書とは、{キー1 : 値1, キー２ : 値２}のようにキーとバリューをペアにして要素を格納するデータ型のことです。
# '名前'キーを2回使用していますが、最後に指定された値で上書きされます。キーが一意であるため、辞書内で同じキーを持つことはできません。
my_dict = {"名前": '花子', "年齢": 30, "性別": "男性", "名前": "太郎"}
print(my_dict)
# 値の重複は可能です。
my_dict2 = {"1": '大阪', "2": '京都', "3": "奈良", "4": "大阪"}
print(my_dict2)

{'名前': '太郎', '年齢': 30, '性別': '男性'}
{'1': '大阪', '2': '京都', '3': '奈良', '4': '大阪'}

In [20]:
# dict関数で辞書に変換できます。
# keyが文字列でも、''でくくる必要はありません。
d=dict(リンゴ=10, オレンジ=20, バナナ=30)
d

{'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}

In [27]:
# リストを変換する場合、全体を[]でくくる必要があります。
e=dict([['リンゴ', 10], ['オレンジ', 20], ['バナナ', 30]])
e

{'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}

In [3]:
f = {'k1': 1, 'k2': 2}
f['k1'] = [1, 2]
f

{'k1': [1, 2], 'k2': 2}

In [9]:
g = {'k1': 1, 'k2': 2}
g['k1'] = {1: 2}
g

{'k1': {1: 2}, 'k2': 2}

In [18]:
result = {"Taro" : 89, "Martin":87, "Mueller":95, "Garcia":80, "Sminov":83}
print(result["Taro"])
del result['Taro']
print(result)
print(result.pop("Garcia"))
print(result)
print("Martin" in result.keys())
print(95 in result.values())

89
{'Martin': 87, 'Mueller': 95, 'Garcia': 80, 'Sminov': 83}
80
{'Martin': 87, 'Mueller': 95, 'Sminov': 83}
True
True

In [25]:
result = {"Taro" : 89, "Martin":87, "Mueller":95, "Garcia":80, "Sminov":83}
print(result.keys())
print(result.values())

dict_keys(['Taro', 'Martin', 'Mueller', 'Garcia', 'Sminov'])
dict_values([89, 87, 95, 80, 83])

In [27]:
# 辞書では、変数[キー]=値のように記述することでデータを追加できます。
result = {"Taro" : 89, "Martin":87, "Mueller":95, "Garcia":80, "Sminov":83}
result["Smith"] = 88
result

{'Taro': 89,
 'Martin': 87,
 'Mueller': 95,
 'Garcia': 80,
 'Sminov': 83,
 'Smith': 88}

In [13]:
# 変数[キー]=値の記述で上書きされます。
d = {'k1': 1, 'k2': 2}
d['k1'] = 100
print(d)
# update()にキーワード引数 key=valueを指定すると、キーと値の要素が追加され、上書きされます。ただし、引数に同じキーを指定するとエラーになります。
d.update(k3=3, k4=4)
print(d)
d.update([('k1', 200), ('k3', 6), ('k4', 8)])
print(d)

{'k1': 100, 'k2': 2}
{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 4}
{'k1': 200, 'k2': 2, 'k3': 6, 'k4': 8}

In [29]:
d2 = {'k1': 200, 'k2': 2, 'k3': 6, 'k4': 8}
del d2['k1'], d2['k3']
d2

{'k2': 2, 'k4': 8}

In [31]:
d2 = {'k1': 200, 'k2': 2, 'k3': 6, 'k4': 8}
d2.pop('k1')
d2

{'k2': 2, 'k3': 6, 'k4': 8}

In [11]:
# (key, value)のリストや zip()を使う場合、引数に重複したキーを指定してもエラーにならず、後ろの要素の値で上書きされます。
e = {'k1': 1, 'k2': 2}
e.update([('k3', 3), ('k3', 300)])
print(e)

f = {'k1': 1, 'k2': 2}
keys = ['k3', 'k4', 'k4']
values = [3, 400, 500]
f.update(zip(keys, values))
print(f)

{'k1': 1, 'k2': 2, 'k3': 300}
{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 500}

In [41]:
d1 = {'k1': 1, 'k2': 2}
d2 = {'k1': 100, 'k3': 3, 'k4': 4}
d1.update(d2)
print(d1)

d3 = {'k1': 1, 'k2': 2}
d4 = {'k1': 100, 'k3': 3, 'k4': 4}
d5 = {'k5': 5, 'k6': 6}
# d3.update(d4, d5)
# TypeError: update expected at most 1 arguments, got 2
d3.update(**d4, **d5)
print(d3)
# **を使う場合、引数に指定する複数の辞書のキーが呼び出し元のキーと重複しているとエラーになります。

{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 4}
{'k1': 100, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5, 'k6': 6}

In [8]:
# list()関数を使用することで、ディクショナリのすべてのキーをリスト形式で取得できます。
result = {'Garcia': 80, 'Martin': 87, 'Mueller': 95, 'Sminov': 83, 'Smith': 88, 'Taro': 89}
list(result)

['Garcia', 'Martin', 'Mueller', 'Sminov', 'Smith', 'Taro']

In [4]:
result = {'Garcia': 80, 'Martin': 87, 'Mueller': 95, 'Sminov': 83, 'Smith': 88, 'Taro': 89}
result.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [24]:
result = {'Garcia': 80, 'Martin': 87, 'Mueller': 95, 'Sminov': 83, 'Smith': 88, 'Taro': 89}
sorted(result)

['Garcia', 'Martin', 'Mueller', 'Sminov', 'Smith', 'Taro']

In [22]:
result = {'Garcia': 80, 'Martin': 87, 'Mueller': 95, 'Sminov': 83, 'Smith': 88, 'Taro': 89}
# keyの2文字目についてアルファベット順に並び替え
sorted(result, key=lambda x:x[1])

['Garcia', 'Martin', 'Taro', 'Sminov', 'Smith', 'Mueller']

In [40]:
# sorted()関数の()内で変数.valuesを指定することで、すべての値をソートした状態で取得できます。
result = {'Garcia': 80, 'Martin': 87, 'Mueller': 95, 'Sminov': 83, 'Smith': 88, 'Taro': 89}
sorted(result.values())

[80, 83, 87, 88, 89, 95]

In [21]:
# sorted()関数の()内で変数.valuesを指定することで、すべての値をソートした状態で取得できます。
result = {'Garcia': 80, 'Martin': 87, 'Mueller': 95, 'Sminov': 83, 'Smith': 88, 'Taro': 89}
sorted(result.values(),reverse=True)

[95, 89, 88, 87, 83, 80]

In [45]:
result = {"Taro" : 89, "Martin":87, "Mueller":95, "Garcia":80, "Sminov":83}
for name, point in result.items():
    print(name, point)

Taro 89
Martin 87
Mueller 95
Garcia 80
Sminov 83

In [43]:
result = {"Taro" : 89, "Martin":87, "Mueller":95, "Garcia":80, "Sminov":83}
for name_point in result.items():
  print(name_point)

('Taro', 89)
('Martin', 87)
('Mueller', 95)
('Garcia', 80)
('Sminov', 83)

In [1]:
a = {x: x**2 for x in (1, 2, 3)}
print(a)

{1: 1, 2: 4, 3: 9}